<div id="homePage">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR58NzS5d179XbaKj1fp4-mLBFojFDJQjKkFjSp6HeoF0IfJ2UN&s" alt="logo" srcset="" width="90" height="60">
            </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
            </ul>
            
        </div>
        <div class="float-right">
            <a role="button" href="#" class="btn btn-light mr-2">Signin</a>
            <a role="button" href="#" class="btn btn-warning btn-lg">Signup</a>
        </div>
        </div>
    </nav>
    <div class="container">
        <div id="cardHomePage" class="row my-4">
            <div class="col-md-2"></div>
            <div class="col-md-8 my-4 mt-4">
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Films, séries TV et bien plus en illimité.</h1>
                    <h2 class="card-text mt-4">Où que vous soyez. Annulez à tout moment.</h2>
                </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>